.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 30px;
}

.todolist {
    border: 2px solid teal;
    background-color: darkolivegreen;
    border-radius: 5px;
    padding: 15px;
}